/**********************************/
/***** CALIMACO CSS FRAMEWORK *****/
/**********************************/
@font-face {
	font-family: winland;
	src: url("/assets/fonts/DenimINKCollectionVF-TRIAL.ttf") format("truetype");
}
* {
	margin: 0;
	padding: 0;
	font-display: swap;
	font-family: winland !important;
}
html,
body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	height: -webkit-fill-available;
	min-height: -webkit-fill-available;
	max-height: -webkit-fill-available;
	background: var(--clmc-bg-primary);
	font-size: var(--clmc-text-medium);
	color: var(--clmc-color-primary);
	font-family: winland !important;
}

/*BACKGROUND*/
.clmc-bg-primary {
	background: var(--clmc-bg-primary) !important;
}
.clmc-bg-secondary {
	background: var(--clmc-bg-secondary);
}
.clmc-bg-tertiary {
	background: var(--clmc-bg-tertiary);
}
.clmc-bg-quaternary {
	background: var(--clmc-color-tertiary) !important;
}
.clmc-bg-quinary {
	background: var(--clmc-bg-quinary);
}
.clmc-bg-success {
	background: var(--clmc-bg-color-success);
}
.clmc-bg-error {
	background: var(--clmc-bg-color-error);
}
.clmc-bg-warning {
	background: var(--clmc-bg-color-warning);
}

/*DISPLAY*/
.clmc-block {
	display: block;
}
.clmc-hidden {
	display: none !important;
}
.clmc-flex {
	display: flex;
}
.clmc-row {
	flex-direction: row;
}
.clmc-column {
	flex-direction: column;
}
.clmc-justify-start {
	justify-content: flex-start;
}
.clmc-justify-end {
	justify-content: flex-end;
}
.clmc-justify-center {
	justify-content: center;
}
.clmc-justify-between {
	justify-content: space-between;
}
.clmc-justify-around {
	justify-content: space-around;
}
.clmc-justify-evenly {
	justify-content: space-evenly;
}
.clmc-align-start {
	align-items: flex-start;
}
.clmc-align-end {
	align-items: flex-end;
}
.clmc-align-center {
	align-items: center;
}
.clmc-align-baseline {
	align-items: baseline;
}
.clmc-wrap {
	flex-wrap: wrap;
}
.clmc-nowrap {
	flex-wrap: nowrap;
}
.clmc-grow-1 {
	flex-grow: 1;
}
.clmc-grow-2 {
	flex-grow: 2;
}
.clmc-gap-small {
	gap: var(--clmc-margin-small);
}
.clmc-gap-medium {
	gap: var(--clmc-margin-medium);
}
.clmc-gap-large {
	gap: var(--clmc-margin-large);
}
.clmc-gap-xlarge {
	gap: var(--clmc-margin-xlarge);
}
.clmc-gap-20 {
	gap: 20px;
}

/*POSITION*/
.clmc-absolute {
	position: absolute;
}
.clmc-relative {
	position: relative;
}
/*BORDER RADIUS*/
.clmc-border-radius-small {
	border-radius: var(--clmc-border-radius-small);
}
.clmc-border-radius-big {
	border-radius: var(--clmc-border-radius-large);
}

/*WIDTH*/
.clmc-w100 {
	width: 100%;
}
.clmc-w75 {
	width: 75%;
}
.clmc-w50 {
	width: 50%;
}
.clmc-w25 {
	width: 25%;
}
/*HEIGHT*/
.clmc-h100 {
	height: 100%;
}
.clmc-h75 {
	height: 75%;
}
.clmc-h50 {
	height: 50%;
}
.clmc-h25 {
	height: 25%;
}

/*PADDING*/
.padding-page-content {
	max-width: var(--clmc-page-width);
	margin-left: auto;
	margin-right: auto;
}
.clmc-p-xsmall {
	padding: var(--clmc-padding-xsmall);
}
.clmc-pt-xsmall {
	padding-top: var(--clmc-padding-xsmall);
}
.clmc-pb-xsmall {
	padding-bottom: var(--clmc-padding-xsmall);
}
.clmc-pl-xsmall {
	padding-left: var(--clmc-padding-xsmall);
}
.clmc-pr-xsmall {
	padding-right: var(--clmc-padding-xsmall);
}
.clmc-p-small {
	padding: var(--clmc-padding-small);
}
.clmc-pt-small {
	padding-top: var(--clmc-padding-small);
}
.clmc-pb-small {
	padding-bottom: var(--clmc-padding-small);
}
.clmc-pl-small {
	padding-left: var(--clmc-padding-small);
}
.clmc-pr-small {
	padding-right: var(--clmc-padding-small);
}
.clmc-p-medium {
	padding: var(--clmc-padding-medium);
}
.clmc-pt-medium {
	padding-top: var(--clmc-padding-medium);
}
.clmc-pb-medium {
	padding-bottom: var(--clmc-padding-medium);
}
.clmc-pl-medium {
	padding-left: var(--clmc-padding-medium);
}
.clmc-pr-medium {
	padding-right: var(--clmc-padding-medium);
}
.clmc-p-large {
	padding: var(--clmc-padding-large);
}
.clmc-pt-large {
	padding-top: var(--clmc-padding-large);
}
.clmc-pb-large {
	padding-bottom: var(--clmc-padding-large);
}
.clmc-pl-large {
	padding-left: var(--clmc-padding-large);
}
.clmc-pr-large {
	padding-right: var(--clmc-padding-large);
}
.clmc-p-xlarge {
	padding: var(--clmc-padding-xlarge);
}
.clmc-pt-xlarge {
	padding-top: var(--clmc-padding-xlarge);
}
.clmc-pb-xlarge {
	padding-bottom: var(--clmc-padding-xlarge);
}
.clmc-pl-xlarge {
	padding-left: var(--clmc-padding-xlarge);
}
.clmc-pr-xlarge {
	padding-right: var(--clmc-padding-xlarge);
}
/*MARGIN*/
.clmc-m-xsmall {
	margin: var(--clmc-margin-xsmall) !important;
}
.clmc-mt-xsmall {
	margin-top: var(--clmc-margin-xsmall) !important;
}
.clmc-mb-xsmall {
	margin-bottom: var(--clmc-margin-xsmall) !important;
}
.clmc-ml-xsmall {
	margin-left: var(--clmc-margin-xsmall) !important;
}
.clmc-mr-xsmall {
	margin-right: var(--clmc-margin-xsmall) !important;
}
.clmc-m-small {
	margin: var(--clmc-margin-small) !important;
}
.clmc-mt-small {
	margin-top: var(--clmc-margin-small) !important;
}
.clmc-mb-small {
	margin-bottom: var(--clmc-margin-small) !important;
}
.clmc-ml-small {
	margin-left: var(--clmc-margin-small) !important;
}
.clmc-mr-small {
	margin-right: var(--clmc-margin-small) !important;
}
.clmc-m-medium {
	margin: var(--clmc-margin-medium) !important;
}
.clmc-mt-medium {
	margin-top: var(--clmc-margin-medium) !important;
}
.clmc-mb-medium {
	margin-bottom: var(--clmc-margin-medium) !important;
}
.clmc-ml-medium {
	margin-left: var(--clmc-margin-medium) !important;
}
.clmc-mr-medium {
	margin-right: var(--clmc-margin-medium) !important;
}
.clmc-m-large {
	margin: var(--clmc-margin-large) !important;
}
.clmc-mt-large {
	margin-top: var(--clmc-margin-large) !important;
}
.clmc-mb-large {
	margin-bottom: var(--clmc-margin-large) !important;
}
.clmc-ml-large {
	margin-left: var(--clmc-margin-large) !important;
}
.clmc-mr-large {
	margin-right: var(--clmc-margin-large) !important;
}
.clmc-m-xlarge {
	margin: var(--clmc-margin-xlarge) !important;
}
.clmc-mt-xlarge {
	margin-top: var(--clmc-margin-xlarge) !important;
}
.clmc-mb-xlarge {
	margin-bottom: var(--clmc-margin-xlarge) !important;
}
.clmc-ml-xlarge {
	margin-left: var(--clmc-margin-xlarge) !important;
}
.clmc-mr-xlarge {
	margin-right: var(--clmc-margin-xlarge) !important;
}
.clmc-margin-auto {
	margin: 0 auto;
}

/*TEXT COLOR*/
.clmc-color-primary {
	color: var(--clmc-color-primary) !important;
}
.clmc-color-secondary {
	color: var(--clmc-color-secondary) !important;
}
.clmc-color-tertiary {
	color: var(--clmc-color-tertiary) !important;
}
.clmc-color-quaternary {
	color: var(--clmc-color-quaternary) !important;
}
.clmc-color-quinary {
	color: var(--clmc-color-quinary) !important;
}
.clmc-color-info {
	color: var(--clmc-bg-color-info);
}
.clmc-color-success {
	color: var(--clmc-bg-color-success);
}
.clmc-color-warning {
	color: var(--clmc-bg-color-warning);
}
.clmc-color-error {
	color: var(--clmc-bg-color-error);
}

/*TEXT DECORATION*/
.clmc-text-decoration-none {
	text-decoration: none;
}
.clmc-text-decoration-underline {
	text-decoration: underline;
}

/*TEXT TRANSFORM*/
.clmc-text-lowercase {
	text-transform: lowercase !important;
}
.clmc-text-uppercase {
	text-transform: uppercase !important;
}
.clmc-text-capitalize {
	text-transform: capitalize !important;
}
.clmc-text-none {
	text-transform: none !important;
}

/*TEXT WRAP*/
.clmc-text-nowrap {
	text-wrap: nowrap;
	white-space: nowrap;
}

/*TEXT SIZE*/
.clmc-text-xsmall {
	font-size: var(--clmc-text-xsmall);
}
.clmc-text-small {
	font-size: var(--clmc-text-small);
}
.clmc-text-medium {
	font-size: var(--clmc-text-medium);
}
.clmc-text-large {
	font-size: var(--clmc-text-large);
}
.clmc-text-xlarge {
	font-size: var(--clmc-text-xlarge);
}

/*TEXT ALIGN*/
.clmc-text-center {
	text-align: center;
}
.clmc-text-end {
	text-align: end;
}
.clmc-text-left {
	text-align: left;
}
.clmc-text-right {
	text-align: right;
}
.clmc-text-justify {
	text-align: justify;
}
/*TEXT WEIGHT*/
.clmc-text-bold {
	font-weight: bold;
}
.clmc-text-500 {
	font-weight: 500;
}
.clmc-text-light {
	font-weight: lighter;
}

/*TEXT OVERFLOW*/
.clmc-text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.clmc-text-ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.clmc-text-ellipsis-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.clmc-text-ellipsis-4 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 4;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

/*BUTTONS*/
/*BUTTONS*/
.clmc-btn-primary,
.clmc-btn-primary-white,
.clmc-btn-secondary,
.clmc-btn-secondary-white,
.clmc-btn-tertiary,
.clmc-btn-tertiary-white,
.clmc-btn-quaternary,
.clmc-btn-disabled {
	height: 40px;
	min-width: 100px;
	text-transform: none !important;
	font-size: var(--clmc-text-small);
	font-weight: 600 !important;
	border-radius: var(--clmc-border-radius-small);
	border: 0px solid rgb(255 255 255 / 30%);
	transition: 0.3s;
	/* -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */
	line-height: 16px;
}
.clmc-btn-primary {
	background: var(--clmc-btn-color-primary) !important;
	color: var(--clmc-color-secondary);
}
.clmc-btn-primary-white {
	background: var(--clmc-bg-primary) !important;
	color: var(--clmc-color-primary);
	border: 1px solid var(--clmc-color-primary) !important;
}
.clmc-btn-secondary {
	background: var(--clmc-btn-color-secondary) !important;
	color: var(--clmc-color-secondary);
	border: 1px solid var(--clmc-color-primary) !important;
}
.clmc-btn-secondary-white {
	background: var(--clmc-btn-color-secondary) !important;
	color: var(--clmc-color-secondary);
	border: 1px solid var(--clmc-color-quinary) !important;
}
.clmc-btn-tertiary {
	background: var(--clmc-btn-color-secondary) !important;
	color: var(--clmc-color-primary) !important;
}
.clmc-btn-tertiary-white {
	background: var(--clmc-btn-color-secondary) !important;
	color: var(--clmc-color-secondary) !important;
}
.clmc-btn-quaternary {
	background: rgba(255, 255, 255, 0.1) !important;
	color: var(--clmc-btn-color-tertiary);
}
.clmc-btn-disabled {
	background: #d1d1d1 !important;
	color: var(--clmc-color-quinary) !important;
}
.clmc-btn-primary:hover,
.clmc-btn-primary-white:hover,
.clmc-btn-secondary:hover,
.clmc-btn-secondary-white:hover,
.clmc-btn-tertiary:hover,
.clmc-btn-tertiary-white:hover,
.clmc-btn-quaternary:hover {
	filter: brightness(1.1);
	opacity: 0.8;
}
.clmc-btn-icon {
	min-width: 40px;
	padding: 0;
	background: rgb(255 255 255 / 30%) !important;
	border-radius: 100%;
}
.clmc-btn-icon-header {
	height: 40px;
	min-width: 40px;
	text-transform: capitalize;
	font-size: var(--clmc-text-small);
	font-weight: 600 !important;
	border: 0px solid rgb(255 255 255 / 30%);
	transition: 0.3s;
	line-height: 16px;
	padding: 0;
	background: rgb(255 255 255 / 30%) !important;
	border-radius: 100%;
}
.clmc-btn-icon-header:hover {
 	background: var(--clmc-bg-primary) !important;
}
.clmc-btn-icon-header:hover img {
	fill: var(--clmc-color-primary) !important;
}
.clmc-btn-facebook {
	background: #1871ed !important;
}
.clmc-btn-facebook:hover {
	background: #155fc6 !important;
}
.clmc-btn-google {
	overflow: hidden;
	border: 1px solid #c5c5c5;
	height: 38.4px !important;
	min-height: 38.4px !important;
	max-height: 38.4px !important;
}
.clmc-btn-google-fake {
	position: absolute;
	top: 0;
	height: 40px;
	left: 0;
	background: #ffffff !important;
	color: #000000 !important;
	opacity: 1 !important;
}

/*TOGGLE BUTTON*/
.clmc-toggle-button {
	border-radius: var(--clmc-border-radius-small) !important;
	border: 1px solid #c4c4c4 !important;
}
.clmc-toggle-button-input {
	padding: 0;
	width: 100%;
	color: #000000 !important;
}
.clmc-toggle-button-input.clmc-toggle-button .clmc-input {
	width: 100%;
	height: 38px;
}
.clmc-toggle-button-input *,
.clmc-toggle-button-input.clmc-toggle-button .clmc-input * {
	color: #000000 !important;
}
.clmc-toggle-button.clmc-btn-tertiary {
	background: var(--clmc-bg-primary) !important;
	color: var(--clmc-color-quinary) !important;
}
.clmc-toggle-button.clmc-btn-tertiary.Mui-selected,
.clmc-toggle-button.clmc-btn-tertiary.Mui-focusVisible {
	color: #ffffff !important;
	background-color: #e85b10 !important;
	border-color: #e85b10 !important;
}
.clmc-toggle-button.clmc-btn-tertiary .clmc-input input {
	height: 0px;
}
.clmc-toggle-button.clmc-btn-tertiary.Mui-selected *,
.clmc-toggle-button.clmc-btn-tertiary.Mui-focusVisible * {
	color: #ffffff !important;
	border-color: #e85b10 !important;
}
.clmc-toggle-button.clmc-btn-tertiary .clmc-input * {
	border: none !important;
	color: #000000 !important;
}
.clmc-toggle-button.clmc-btn-tertiary .clmc-input .MuiInputAdornment-positionEnd {
	padding-top: 12px;
}
.clmc-toggle-button:hover {
	background: #d9d9d9 !important;
}

/*INPUTS*/
.clmc-input {
	background: #f4f6f7;
	height: 37px;
	border-radius: var(--clmc-border-radius-small);
}
.clmc-input-search {
	background: #212121;
	border-radius: var(--clmc-border-radius-small);
}
.clmc-input-search > div {
	color: var(--clmc-color-secondary) !important;
}
.clmc-input-search > div > div {
	color: var(--clmc-color-quinary) !important;
}
.clmc-input-search .Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: #e85b10;
}
.clmc-dialog .clmc-select-birthday span,
.privateLayout .clmc-select-birthday span {
	color: var(--clmc-color-quinary) !important;
}
.clmc-input-birthday .clmc-select-birthday .MuiOutlinedInput-notchedOutline {
	margin-top: 0;
	top: 0;
}
.clmc-input-birthday .clmc-select-birthday .MuiSelect-select {
	padding-top: 14px;
	padding-bottom: 14px;
}
.clmc-input-birthday .clmc-formControl-birthday {
	height: 37px !important;
}
.clmc-input-birthday .clmc-formControl-birthday *,
.clmc-input-birthday .clmc-formControl-birthday .MuiOutlinedInput-root,
.clmc-input-birthday .clmc-formControl-birthday .MuiSelect-select {
	height: stretch !important;
}
.clmc-input-birthday .clmc-formControl-birthday .MuiSelect-icon {
	height: stretch !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}
.clmc-phone-input .MuiInputAdornment-root {
	color: var(--clmc-color-secondary) !important;
}
.clmc-phone-input .MuiInputAdornment-root > p {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.clmc-input *,
.clmc-select *,
.clmc-select-label *,
.clmc-radioButton *,
.clmc-formControl *,
.clmc-checkbox * {
	color: var(--clmc-color-secondary) !important;
	border-color: var(--clmc-color-secondary) !important;
	fill: var(--clmc-color-secondary) !important;
	height: 37px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	/*  Para Chrome, Safari, y Opera */
	filter: invert(100%);
}
.clmc-dialog .clmc-input *,
.clmc-dialog .clmc-select *,
.clmc-dialog .clmc-select-label *,
.clmc-dialog .clmc-radioButton *,
.clmc-dialog .clmc-formControl *,
.clmc-dialog .clmc-checkbox *,
.clmc-input-resetPassword .clmc-input *,
.clmc-input-resetPassword .clmc-formControl *,
.privateLayout .clmc-input *,
.privateLayout .clmc-select *,
.privateLayout .clmc-select-label *,
.privateLayout .clmc-radioButton *,
.privateLayout .clmc-formControl *,
.privateLayout .clmc-checkbox * {
	color: var(--clmc-bg-secondary) !important;
	border-color: #f4f6f7 !important;
	fill: var(--clmc-bg-secondary) !important;
}
.clmc-checkbox-register > span:nth-child(2) > p {
	color: var(--clmc-color-tertiary) !important;
}
.clmc-checkbox-register > span.MuiCheckbox-root.Mui-checked {
	color: var(--clmc-color-primary) !important;
}
.privateLayout input[type="date"]::-webkit-calendar-picker-indicator,
.clmc-dialog input[type="date"]::-webkit-calendar-picker-indicator {
	/*  Para Chrome, Safari, y Opera */
	filter: invert(0%);
}
.clmc-input > div,
.clmc-select fieldset {
	border-radius: var(--clmc-border-radius-small);
	/* padding-top: 10px; */
}
.clmc-select .MuiSelect-select p {
	overflow: hidden;
	text-overflow: ellipsis;
}
.clmc-select .MuiSelect-icon {
	top: 2px;
}
.clmc-select .MuiSelect-select p.clmc-disabled {
    padding-top: 14px;
}
.clmc-input .MuiInputAdornment-positionStart {
	padding-top: 0px;
}
.clmc-input label.Mui-focused,
.clmc-select-label label.Mui-focused,
.clmc-select-label.Mui-focused {
	color: var(--clmc-btn-color-secondary) !important;
}
.clmc-input div.Mui-focused fieldset,
.clmc-select.Mui-focused fieldset {
	border-color: var(--clmc-color-primary) !important;
}
.clmc-input div fieldset,
.clmc-select fieldset {
	height: 37px;
	margin-top: 4px;
	padding-top: 0 !important;
	border-color: #f4f6f7 !important;
}
.clmc-input label,
.clmc-formControl label {
	position: absolute;
	-webkit-transform: translate(14px, -9px) scale(0.75);
	-moz-transform: translate(14px, -9px) scale(0.75);
	-ms-transform: translate(14px, -9px) scale(0.75);
	transform: translate(14px, 2px) scale(0.75);
}
.clmc-input legend {
	max-width: 100%;
	display: none;
}

.clmc-checkbox svg {
	color: var(--clmc-btn-color-primary);
}
.clmc-radioButton {
	padding-top: 0;
	padding-bottom: 0;
	color: var(--clmc-btn-color-secondary) !important;
}
.clmc-balance-promo-selection .clmc-checkbox * {
	color: var(--clmc-color-secondary) !important;
	border-color: var(--clmc-color-secondary) !important;
	fill: var(--clmc-color-secondary) !important;
}

/* .clmc-login-promo-selection .clmc-checkbox * {
	color: var(--clmc-color-primary) !important;
	border-color: var(--clmc-color-primary) !important;
	fill: var(--clmc-color-primary) !important;
} */

/*LINKS*/
.clmc-link:hover {
	transition: 0.3s;
	opacity: 0.7;
	cursor: pointer;
}
.clmc-link-text:hover {
	transition: 0.3s;
	opacity: 0.7;
	text-decoration: underline !important;
	cursor: pointer;
}
.clmc-cursor-pointer {
	cursor: pointer;
}
.clmc-disabled {
	opacity: 0.5;
	pointer-events: none;
}

/*FLOAT MENU*/
.clmc-float-menu .MuiPopover-paper {
	border-radius: var(--clmc-border-radius-small);
	width: 400px;
	max-width: calc(100% - 32px);
}

/*DIALOG*/
.clmc-dialog {
    z-index: 999999;
}
.clmc-dialog .MuiDialog-paper {
	border-radius: var(--clmc-border-radius-large);
	margin: 10px;
	min-width: 450px;
}
.clmc-closeIcon-popup > svg {
	background-color: #f5f7f7;
	color: #000000;
	padding: 5px;
	border-radius: 100%;
	cursor: pointer;
	transition: all 250ms ease-in-out;
}
.clmc-closeIcon-popup > svg:hover {
	color: var(--clmc-color-primary);
}
/*DIVIDER*/
.clmc-divider {
	margin-top: var(--clmc-margin-small) !important;
	margin-bottom: var(--clmc-margin-small) !important;
}

/*LIST*/
.clmc-list-item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding-top: 0;
	padding-bottom: 0;
}
.clmc-list-item:last-child {
	border-bottom: none;
}

/*ALERT*/
.clmc-form-alert {
	border-radius: 10px;
	padding: 0 8px;
}
.clmc-warning .MuiAlert-icon {
	display: flex;
	align-items: center;
}
.clmc-warning .MuiAlert-icon svg {
	font-size: 40px;
	margin-right: var(--clmc-margin-small);
}

/*BADGE*/
.clmc-badge > span {
	background: var(--clmc-btn-color-primary);
}

/*CHIP*/
.clmc-chip {
	font-size: var(--clmc-text-medium);
}
.clmc-chip .clmc-text-xsmall {
	font-size: var(--clmc-text-xsmall) !important;
}

/*TABS*/
.clmc-tabs button {
	text-transform: none;
	color: var(--clmc-color-primary);
}
.clmc-tabs .Mui-selected {
	color: var(--clmc-btn-color-primary);
	background: rgb(255 255 255 / 80%);
	border: 1px solid rgb(0 0 0 / 5%);
	border-radius: 4px 4px 0 0;
}
.MuiTabs-indicator {
	background: var(--clmc-btn-color-primary);
}
/* Indicator (línea roja bajo el tab activo) */
.clmc-tabs-promos .MuiTabs-indicator {
	background-color: var(--clmc-color-primary);
	height: 3px;
}

.clmc-tabs-promos {
	width: 100%;
	border-bottom: 1px solid #1f1f1f;
}

/* Tabs en general (inactivos) */
.clmc-tabs-promos .MuiTab-root {
	color: #7a7a7a !important;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	gap: 8px;
	text-transform: uppercase;
	font-weight: bold;
	flex: 1 1 0;
	max-width: none;
	min-width: 0;
	padding: 12px 8px;
}

/* Tab activo/seleccionado */
.clmc-tabs-promos .MuiTab-root.Mui-selected {
	color: #ffffff !important;
}

/* Centrar los tabs */
.clmc-tabs-promos .MuiTabs-flexContainer {
	width: 100%;
	justify-content: space-between;
}

/* Evitar scroll horizontal */
.clmc-tabs-promos .MuiTabs-scroller {
	width: 100%;
	overflow-x: visible !important;
}
/*TABLE*/
.clmc-table thead th {
	background: var(--clmc-btn-color-secondary) !important;
	color: var(--clmc-color-secondary);
}
.clmc-table tbody tr {
	background-color: #ffffff;
}
.clmc-table.striped-table tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

/*CARD*/
.clmc-card {
	background: rgb(255 255 255 / 80%);
	border: 1px solid rgb(255 255 255 / 5%);
}
.clmc-card .clmc-card-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.03;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 0;
}
.clmc-card .clmc-card-overlay svg {
	width: 500px;
	height: 500px;
	transform: rotate(333deg);
	color: #000;
}
.clmc-card-hidden {
	opacity: 50%;
}

/*LOADER*/
.clmc-loader {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(255 255 255 / 60%);
}
/*Fragment*/

.clmc-fragment img {
	max-width: 100%;
	max-height: 500px;
	object-fit: cover;
}
.clmc-fragment * {
	color: var(--clmc-color-secondary) !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-family: var(--clmc-font) !important;
	line-height: 1.5 !important;
}
.clmc-fragment-promos * {
	font-weight: normal !important;
	font-style: normal !important;
	font-family: var(--clmc-font) !important;
	line-height: 1.5 !important;
}
.clmc-fragment p {
	padding-left: 20px;
	line-height: 24px;
}
