/* VARIABLES */
@font-face {
	font-family: winland;
	src: url("/assets/fonts/DenimINKCollectionVF-TRIAL.ttf") format("truetype");
}
:root {
	--clmc-bg-primary: #ffffff;
	--clmc-bg-secondary: #000000;
	--clmc-bg-tertiary: #e85b10;
	--clmc-bg-quinary: #ffc6a7;
	--clmc-bg-color-info: #0288d1;
	--clmc-bg-color-success: #2e7d32;
	--clmc-bg-color-error: #d32f2f;
	--clmc-bg-color-warning: #ed6c02;
	--clmc-color-primary: #e85b10;
	--clmc-color-secondary: #fff;
	--clmc-color-tertiary: #000000;
	--clmc-color-quaternary: #894d20;
	--clmc-color-quinary: #adadad;
	--clmc-text-xsmall: 12px;
	--clmc-text-small: 14px;
	--clmc-text-medium: 16px;
	--clmc-text-large: 24px;
	--clmc-text-xlarge: 32px;
	--clmc-padding-xsmall: 4px;
	--clmc-padding-small: 8px;
	--clmc-padding-medium: 16px;
	--clmc-padding-large: 32px;
	--clmc-padding-xlarge: 64px;
	--clmc-margin-xsmall: 4px;
	--clmc-margin-small: 8px;
	--clmc-margin-medium: 16px;
	--clmc-margin-large: 32px;
	--clmc-margin-xlarge: 64px;
	--clmc-font: winland !important;
	--clmc-border-radius-small: 8px;
	--clmc-border-radius-large: 12px;
	--clmc-page-width: 100%;
	--clmc-header-height: 60px;
	--clmc-btn-color-primary: #e85b10;
	--clmc-btn-color-primary-hover: #f16012;
	--clmc-btn-color-primary-white: #ffffff;
	--clmc-btn-color-primary-hover-white: #f16012;
	--clmc-btn-color-secondary: #000000;
	--clmc-btn-color-secondary-hover: #171717;
	--clmc-btn-color-tertiary: #ffffff;
	--clmc-btn-color-tertiary-hover: #f0fff0;
}
